<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Taufan Introduction to WebRTC</title>
        <link rel="stylesheet" href="style.css">
        <script src="/socket.io/socket.io.js"></script>
    </head>
    <body>
        <video id="myVideoTag" autoplay></video>
        <video id="theirVideoTag" autoplay></video>

        <div>
            <label>Your Name</label>
            <input type="text" id="myName">
            <label>Message</label>
            <input type="text" id="myMessage">
            <button type="submit" id="sendMessage">Submit</button>
            <div id="chatArea">
                Message output: <br>
            </div>
            <div id="signalingArea">
                Signaling Messages: <br>
            </div>
        </div>

        <script>
            var myVideoArea = document.querySelector('#myVideoTagideo');
            var theirVideoArea = document.querySelector('#theirVideoTagideo');
            var myName = document.querySelector('#myName');
            var myMessage = document.querySelector('#myMessage');
            var sendMessage = document.querySelector('#sendMessage');
            var chatArea = document.querySelector('#chatArea');
            var signalingArea = document.querySelector('#signalingArea');
            var ROOM = 'chat';
            var SIGNAL_ROOM = 'signal_room';

            io = io.connect();
            io.emit('ready', {
                'chat_room': ROOM,
                'signal_room': SIGNAL_ROOM
            });

            // Send a first signaling message to anyone listening
            // This normally would be on a button click
            io.emit('signal', {
                "type": "user_here",
                "message": "Are you ready for a call?",
                "room": SIGNAL_ROOM
            });

            io.on('signaling_message', function (data) {
                displaySignalMessage("Signal received: " + data.type);
            });

            io.on('announce', function (data) {
                displayMessage(data.message);
            });

            io.on('message', function (data) {
                displayMessage(data.author + ': ' + data.message);
            });

            sendMessage.addEventListener('click', function (ev) {
                io.emit('send', {
                    "author": myName.value,
                    "message": myMessage.value,
                    "room": ROOM
                });

                ev.preventDefault();
            }, false);

            function displayMessage(message) {
                chatArea.innerHTML = chatArea.innerHTML + '<br>' + message;
            }

            function displaySignalMessage(message) {
                signalingArea.innerHTML = signalingArea.innerHTML + '<br>' + message;
            }
        </script>
    </body>
</html>
